<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript" src="~/Scripts/xssAttack.js"></script>

@{
    ViewBag.Title = "XSSAttack";
}

<h2>Name Search</h2>
<h3>Attack demoed: XSS (Reflected)</h3>
<h4>Instructions</h4>
<p>
    This form simulates a name search field. Entering a name will search the backend database for
    all accounts with the entered last name and echo them back to the screen.
</p>


@using (Html.BeginForm("XSSDemo", "Home", FormMethod.Post))
{
    <div>
        Email:
        <input type="text" id="nameToFind" name="nameToFind">

        <input type="submit" id="submitId" value="Search" />

    </div>
    <br />
    <br />

    if (TempData["XSSName"] != null)
    {
        <h2> Results for @Html.Raw(TempData["XSSName"]) </h2>
        foreach (var r in (string[])TempData["XSSSearch"])
        {
            @Html.Raw(r);
        }
    }
}
<h3 id="resultsHeader"></h3>
<p id="results"></p>