
@{
    ViewBag.Title = "XSSAttack";
}
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript" src="~/Scripts/xssAttack.js"></script>

<h2>Name Search</h2>
<h3>Attack demoed: XSS (Reflected)</h3>
<h4>Instructions</h4>
<p>This form simulates a name search field. Entering a name will search the backend database for
    all accounts with the entered last name and echo them back to the screen.
</p>


@using (Html.BeginForm("XSSDemo", "HomeController", FormMethod.Post))
{
    <form>
        <div>
            Last Name:<br>
            <input type="text" id="nameToFind">

            <input type="button" id="submitId" value="submit" />

        </div>
    </form>
}
<h3 id="resultsHeader"></h3>
<p id="results"></p>