
@{
    ViewBag.Title = "Login";
}

<div class="form-group panel panel-default">
    <form id="loginBox">
        <label>User</label>
        <input type="text" class="form-control" id="cardBox" />
        <label>Password</label>
        <input type="password" class="form-control"/>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
