
@{
    ViewBag.Title = "Settings";
}

<div class="panel panel-default">
    <div class="panel panel-default">
        <form>
            <h2>Framework</h2>
            <input type="radio" name="aspnetButton" value="ASP.NET" checked> ASP.NET<br>
            <input type="radio" name="rubyonrailsButton" value="Ruby on Rails"> Ruby On Rails<br>
        </form>
    </div>

    <div class="panel panel-default">
        <form>
            <h2>Security Level</h2>
            <input type="radio" name="highButton" value="highSec" checked> High<br>
            <input type="radio" name="lowButton" value="lowSec"> Low<br>
        </form>
    </div>
</div>