
@{
    ViewBag.Title = "Setup";
}

<div class="row text-center">
    <h2>Generate Database</h2>
    <p class="text-left">
        To begin using this application, start by hitting the button below to generate the database to be used. Once the database
        is generated, you will be taken to the home page of the application where you can begin penetration testing.
    </p>
    <button class="btn btn-default" type="button" id="setupDB" onclick="location.href='@Url.Action("GenerateDatabase", "Home")'">Generate Database</button>
</div>

